@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --primary-clr: #f03e41;
  --secondary-clr: #febec4;
  --accent-clr: #ff3b30;
  --background-clr: #ffffff;
  --base-clr: #fbfbfb;
  --primary-fnt-clr: #ffffff;
  --accent-fnt-clr: #fff5ec;
  --primary-lts-clr: #000000;
  --base-dk-clr: #f2f2f2;
  --base-dkr-clr: #e5e5e5;
  --base-dkrr-clr: #d9d9d9;
  --base-lt-clr: #fbfbfb;
  --red-clr: #f03e41;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;

}

html, body, main {
  position: relative;
}

body {
  padding-top: 30px;
  background-color: var(--background-clr);
  position: relative;
}

main {
  margin: 80px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  font-family: "Inter", sans-serif;
}

