---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/nav-bar/NavBar.astro";
import Categories from "../components/home/Categories.astro";
import Stores from "../components/home/Stores.astro";

let username;
let city: string;

const userIdCookie = Astro.cookies.get("user-id");
if (userIdCookie) {
    const url = "http://identity:3000/profile/?accountId=" + userIdCookie.value;
    const response = await fetch(url);

    if (response.ok) {
        const data = await response.json();
        username = data.name.split(" ")[0];
        city = data.city;
    } else {
        Astro.cookies.delete("user-id");
        return Astro.redirect("/login");
    }
} else {
    return Astro.redirect("/login");
}
---

<Layout title="UtalEats">
    <main>
        <NavBar username={username} city={city} />
        <h1>Categories</h1>
        <Categories city={city}/>
        <h1>Stores</h1>
        <Stores city={city} />
    </main>
</Layout>
<script>
    let selected = "";
    const categoryAll = document.getElementById("All");
    if (categoryAll != null) {
        categoryAll.style.backgroundColor = "var(--primary-clr)";
        categoryAll.style.color = "var(--primary-fnt-clr)";
        selected = categoryAll.id;
    }

    const categories = document.querySelectorAll<HTMLElement>("[category-btn]");
    categories.forEach((button) => {
        button.addEventListener("click", () => {
            const selectedButton = document.getElementById(selected);
            if (selectedButton != null) {
                selectedButton.style.backgroundColor = "var(--secondary-clr)";
                selectedButton.style.color = "black";
            }

            button.style.backgroundColor = "var(--primary-clr)";
            button.style.color = "var(--primary-fnt-clr)";
            selected = button.id;
			const stores = document.querySelectorAll<HTMLLIElement>("[store-btn]");
			stores.forEach((store) => {
				if (store.className != selected && selected != "All") {
					store.style.display = "none";
				} else {
					store.style.display = "flex";
				}
			});
        });
    });

	

</script>
<style>
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    h1 {
        margin-right: auto;
        font-size: 28px;
    }
</style>

