---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Categories from '../components/Categories.astro';
---

<Layout title="UtalEats">
	<main >
		<NavBar></NavBar>
		<h1>Categories</h1>
		<Categories></Categories>
	</main>
	<style>
		main {
			display: flex;
			flex-direction: column;
		}
	</style>
</Layout>