---
import Layout from '../layouts/Layout.astro';
import NavBar, { city } from '../components/NavBar.astro';
import Categories from '../components/Categories.astro';
import Stores from '../components/Stores.astro';

let username;
let city: string;

const userIdCookie = Astro.cookies.get('user-id');
if (userIdCookie) {
    const url = 'http://identity:3000/profile/?accountId=' + userIdCookie.value;
    const response = await fetch(url);
    if (response.ok) {
		const data = await response.json();
		username = data.name.split(' ')[0];
		city = 'New York';
	}
}
---

<Layout title="UtalEats">
	<main >
		<div>
			<NavBar username={username} city={city}></NavBar>
			<h1>Categories</h1>
			<Categories></Categories>
			<h1>Stores</h1>
		</div>
		<Stores city={city}></Stores>
	</main>
</Layout>
<script>
	if (document.getElementById('username')?.innerText == '') {
		//window.location.href = '/login';
		console.log("Get out of here");
	}

	let selected = '';
    const categoryAll = document.getElementById('All');
    if (categoryAll != null) {
        categoryAll.style.backgroundColor = 'var(--primary-clr)';
        categoryAll.style.color = 'var(--primary-fnt-clr)';
        selected = categoryAll.id;
    }

    const categories = document.querySelectorAll<HTMLButtonElement>('[category-btn]');
    categories.forEach((button) => {
    button.addEventListener('click', () => {
        const selectedButton = document.getElementById(selected);
        if (selectedButton != null) {
        selectedButton.style.backgroundColor = 'var(--secondary-clr)';
        selectedButton.style.color = 'black';
        }

        button.style.backgroundColor = 'var(--primary-clr)';
        button.style.color = 'var(--primary-fnt-clr)';
        selected = button.id;
    });
  });
</script>
<style>
	main div {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	h1 {
		font-size: 28px;
	}
</style>