---
import Layout from "../layouts/Layout.astro";
import LoginForm from "../components/LoginForm.astro";
---

<Layout title="UtalEats">
    <main>
        <div class="text">
            <div class="welcome">
                <h1>Welcome to</h1>
                <h1 class="logo">UtalEats</h1>
            </div>
            <h2>Your local shop delivery app</h2>
        </div>
        <LoginForm />
    </main>
</Layout>
<script>
    async function login(email: string, password: string) {
        const body = {
            email: email,
            password: password,
        };

        try {
            const response = await fetch("/api/account/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(body),
            });

            if (response.ok) {
                const result = await response.json();
                if (result.accountId == undefined) {
                    error.innerText = "Incorrect email or password!";
                    error.style.setProperty("color", "var(--primary-clr)");
                    return;
                }
                document.cookie = `user-id=${result.accountId}; path=/; max-age=3600`;
                window.location.href = "/";
            } else {
                error.innerText = "Incorrect email or password!";
                error.style.setProperty("color", "var(--primary-clr)");
            }
        } catch (error) {
            alert("An error occurred while submitting the form.");
        }
    }

    const loginForm = document.getElementById("loginForm");
    const error = document.getElementById("error") as HTMLParagraphElement;

    const email = document.getElementById("email") as HTMLInputElement;
    const password = document.getElementById("password") as HTMLInputElement;

    email.oninvalid = function () {
        error.innerText = "Invalid email address!";
        error.style.setProperty("color", "var(--primary-clr)");
    };

    loginForm?.addEventListener("submit", (e) => {
        e.preventDefault();

        if (email?.value == "" || password?.value == "") {
            error.innerText = "Ensure you input a value in both fields!";
            error.style.setProperty("color", "var(--primary-clr)");
        } else {
            error.style.setProperty("color", "var(--base-clr)");
            login(email?.value, password?.value);
        }
    });
</script>
<style>
    main {
        padding-bottom: 100px;
        display: flex;
        align-items: center;
        height: 90vh;
        justify-content: center;
        gap: 100px;
        flex-direction: row !important;
    }

    .welcome {
        display: flex;
        font-size: 32px;
        gap: 10px;
    }

    .logo {
        color: var(--accent-clr);
    }

    h2 {
        font-weight: 400;
        font-size: 26px;
    }

    .text {
        text-align: center;
    }
</style>

