---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
---

<Layout title="UtalEats">
    <main>
        <Home></Home>
        <h1>Profile</h1>
    </main>
</Layout>