---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import type { Order } from "../lib/models";
import Orders from "../components/Orders.astro";

let username;
let city: string;

const userIdCookie = Astro.cookies.get("user-id");
if (userIdCookie) {
    const url = "http://identity:3000/profile/?accountId=" + userIdCookie.value;
    const response = await fetch(url);
    if (response.ok) {
        const data = await response.json();
        username = data.name.split(" ")[0];
        city = data.city;
    } else {
        Astro.cookies.delete("user-id");
        return Astro.redirect("/login");
    }
} else {
    return Astro.redirect("/login");
}

const ordersResponse = await fetch(
    "http://order:3000/order/?accountId=" + userIdCookie.value,
);
const orders: Order[] = await ordersResponse.json();
---

<Layout title="UtalEats">
    <main>
        <NavBar username={username} city={city} />
        <button id="logout">Log out</button>
        <Orders orders={orders} />
    </main>
</Layout>
<script>
    const logout = document.getElementById("logout");
    logout?.addEventListener("click", () => {
        document.cookie = "user-id=; path=/;";
        window.location.href = "/login";
    });
</script>
<style>
    main {
        display: flex;
        flex-direction: column;
    }

    button {
        float: right;
        display: block;
        text-align: center;
        padding: 1% 2%;
        text-decoration: none;
        background-color: var(--secondary-clr);
        border-radius: 30px;
        border-style: hidden;
        width: fit-content;
    }

    button:hover {
        opacity: 0.5;
        cursor: pointer;
    }
</style>
