---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import StoreNav from "../components/StoreNav.astro";
import Items from "../components/Items.astro";
import Reviews from "../components/Reviews.astro";

const queryParams = Astro.url.searchParams;
const storeId = queryParams.get('storeId');
const name = queryParams.get('name');

let username;
let city: string;

const userIdCookie = Astro.cookies.get('user-id');
if (userIdCookie) {
    const url = 'http://identity:3000/profile/?accountId=' + userIdCookie.value;
    const response = await fetch(url);
    if (response.ok) {
		const data = await response.json();
		username = data.name.split(' ')[0];
		city = data.city;
	}
}
---

<Layout title="UtalEats">
    <main>
        <NavBar username={username} city={city}></NavBar>
        <StoreNav name={name}></StoreNav>
        <div>
            <Items storeId={storeId}></Items>
            <Reviews></Reviews>
        </div>
    </main>
</Layout>
<script>
    if (document.getElementById('username')?.innerText == '') {
		window.location.href = '/login';
	}

    const itemsContainer = document.getElementById('items-container');
    const cart = document.getElementById('cart');
    const savedItems = JSON.parse(localStorage.getItem('savedItems')) || [];
    cart.innerText = savedItems.length;

    itemsContainer?.addEventListener('click', (event) => {
      const target = event.target.closest('.plus');
      if (target) {
        console.log(target);
        const name = target.dataset.name;
        const imagePath = target.dataset.image;
        const price = parseFloat(target.dataset.price);

        const existingItem = savedItems.find((item) => item.name === name);

        if (existingItem) {
            existingItem.quantity += 1;
        } else {
            const newItem = { name, imagePath, price, quantity: 1 };
            savedItems.push(newItem);
        }

        localStorage.setItem('savedItems', JSON.stringify(savedItems));
        
        cart.innerText = savedItems.length;
      }
    });
</script>
<style>
    main {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    div {
        display: flex;
        width: 100%;
        gap: 40px;
    }
</style>