:root {
    --primary-clr: #F03E41;
    --secondary-clr: #FEBEC4;
    --accent-clr: #FF3B30;
    --background-clr: #FFFFFF;
    --base-clr: #FBFBFB;
    --primary-fnt-clr: #FFFFFF;
    --accent-fnt-clr: #FFF5EC;
    --primary-lts-clr: #000000;
    --base-dk-clr: #F2F2F2;
    --base-dkr-clr: #E5E5E5;
    --base-lt-clr: #FBFBFB;
    --red-clr: #F03E41;
}
.body {
    background-color: var(--background-clr);
}
.h1 {
    background-color: var(--primary-clr);
}