---
interface Props {
    category: string;
}

const {category} = Astro.props;
---

<li category-btn id={category}>{category}</li>
<style>
    li {
        flex-shrink: 0;
        min-height: 35px;
        min-width: 90px;
        width: max-content;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        background-color: var(--secondary-clr);
        border-radius: 30px;
        border-style: hidden;
        font-size: 16px;
    }

    li:hover {
        opacity: 0.5;
        cursor: pointer;
    }
</style>