---
interface Props {
    title: string;
}

const {title} = Astro.props;
---

<li class="city">
    <p>{title}</p>
</li>
<style>
    li {
        float: left;
        display: block;
        text-align: center;
        padding: 25px 2%;
        text-decoration: none;
    }
</style>