<div>
    <h2>Log in</h2>
    <form id="loginForm">
        <label for="email">Email</label><br>
        <input type="email" id="email" name="email" placeholder="Email"><br><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" placeholder="Password"><br><br>
        <p id="error"></p>
        <br><button type="submit">Log in</button><br><br>
        <a href="register">No account?, Create one!</a>
    </form> 
</div>
<style>
    h2 {
        margin: 20px 80px;
    }

    form {
        background-color: var(--base-clr);
        box-shadow: 0px 4px 4.7px 5px rgba(0, 0, 0, 0.09);
        border-radius: 10%;
        padding: 30px;
        width: fit-content;
    }

    input[type=email] {
        width: 100%;
        background-color: var(--base-dk-clr);
        border: 1px solid var(--base-dkr-clr);
        border-radius: 6px;
        padding-left: 10px;
    }

    input[type=password] {
        width: 100%;
        background-color: var(--base-dk-clr);
        border: 1px solid var(--base-dkr-clr);
        border-radius: 6px;
        padding-left: 10px;
    }

    button {
        background-color: var(--primary-clr);
        border: none;
        border-radius: 20px;
        padding: 8px 30px;
        color: var(--primary-fnt-clr);
        font-size: 14px;
        margin: 0 40px;
    }

    button:hover {
        opacity: 0.5;
        cursor: pointer;
    }

    a {
        display: block;
        text-align: center;
        color: black;
        font-size: 12px;
    }

    p {
        font-size: 12px;
        color: var(--primary-clr);
    }
</style>
