---
import City from "./City.astro";
import Logo from "./Logo.astro";
import Profile from "./Profile.astro";
import Home from "./Home.astro";

interface Props {
    username: string;
    city: string;
}

const {username, city} = Astro.props;
---

<ul class="nav-bar">
    <div>
        <Logo></Logo>
        <City title = {city}></City>
    </div>
    <div>
        <Profile username={username}></Profile>
        <Home></Home>
    </div>
</ul>
<style>
    .nav-bar {
        display: flex;
        list-style-type: none;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        background-color: white;
        position: fixed;
        top: 0;
        z-index: 100;
        padding: 15px 10%;
    }

    .nav-bar div {
        display: flex;
        gap: 20px;
    }
</style>