---
interface Props {
    username: string;
}

const {username} = Astro.props;
---

<li class="profile">
    <a href="profile">
        <div>
            <p>a</p>
            <p>{username}</p>
        </div>
    </a>
</li>
<style>
    li {
        float: right;
        padding: 20px 2%;
    }

    li a {
        display: block;
        color: var(--primary-fnt-clr);
        text-align: center;
        padding: 2%;
        width: 130%;
        text-decoration: none;
        background-color: var(--primary-clr);
        border-radius: 20px;
    }

    li a:hover {
        background-color: var(--secondary-clr);
    }

    li a div {
        display: flex;
        flex-direction: row;
        padding: 10%;
    }
</style>