---
const url = 'http://stores:3000/store/';
const response = await fetch(url);
const stores = await response.json();

const cities = stores
  .map(store => store.cityName)
  .reduce((unique, city) => {
    if (!unique.includes(city)) {
      unique.push(city);
    }
    return unique;
  }, []);
---

<div>
    <div class="register-form" id="registerFormPart1">
        <div class="text">
            <div class="create-account">
                <h1>Let's create an</h1>
                <h1 class="accent">account</h1>
            </div>
            <h2>We need some information about you</h2>
        </div>
        <form action="">
            <div class="input">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email">
            </div>
            <div class="input">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password">
                <input type="password" id="password2" name="password" placeholder="Confirm your password">
            </div>
            <div class="input">
                <label>Full Name</label>
                <div class="name">
                    <input type="text" class="nameInput" id="first-name" name="first-name" placeholder="First name">
                    <input type="text" class="nameInput" id="last-name" name="last-name" placeholder="Last name">
                </div>
            </div>
            <p id="error">error</p>
            <button type="submit">Continue</button>
            <a href="login">I have an account</a>
        </form>
    </div>
    <div class="register-form" id="registerFormPart2" style="display: none;">
        <div class="text">
            <h1>You're almost ready</h1>
            <h2>Local shops are waiting</h2>
        </div>
        <form action="">
            <div class="input">
                <label for="number">Phone number</label>
                <input type="tel" id="number" name="number" placeholder="+569xxxxxxxx" pattern="[0-9]*">
            </div>
            <div class="input">
                <label for="city">City</label>
                <select name="city" id="city">
                    <option value="none">Select your city</option>
                    {cities.map((city) => (
                        <option value={city}>{city}</option>
                    ))}
                  </select>
            </div>
            <div class="input">
                <label>Street Address</label>
                <input type="text" id="address" name="address" placeholder="Eg: Mulberry Street 147 ">
            </div>
            <p id="error2">error</p>
            <button type="submit">Create</button>
            <p class="go-back" id="go-back">Go back</p>
        </form>
    </div>
</div>
<script>
    const goBack = document.getElementById("go-back");
    goBack?.addEventListener("click", (e) => {
        e.preventDefault();
        const form1 = document.getElementById("registerFormPart1");
        const form2 = document.getElementById("registerFormPart2");
        form1.style.display = 'flex';
        form2.style.display = 'none';
    })
</script>
<style>
    .register-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--base-clr);
        box-shadow: 0px 4px 4.7px 5px rgba(0, 0, 0, 0.09);
        border-radius: 20px;
        padding: 30px;
        min-height: 450px;
        width: 400px;
        gap: 20px;
    }

    .name {
        display: flex;
        justify-content: space-between;
        width: 300px;
    }

    .nameInput {
        width: 140px;
    }

    label {
        margin-right: auto;
    }

    .input {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    input {
        width: 300px;
        background-color: var(--base-dk-clr);
        border: 1px solid var(--base-dkr-clr);
        border-radius: 10px;
        padding: 6px 10px;
    }

    select {
        background-color: var(--base-dk-clr);
        border: 1px solid var(--base-dkr-clr);
        border-radius: 10px;
        padding: 6px 10px;
        width: 300px;
    }

    button {
        background-color: var(--primary-clr);
        border: none;
        border-radius: 20px;
        padding: 8px 30px;
        color: var(--primary-fnt-clr);
        font-size: 20px;
        width: fit-content;
        margin-top: 20px;
    }

    button:hover {
        opacity: 0.5;
        cursor: pointer;
    }

    a {
        display: block;
        text-align: center;
        color: black;
        font-size: 16px;
    }

    .go-back {
        display: block;
        text-align: center;
        color: black;
        font-size: 16px;
        text-decoration: underline;
    }

    .go-back:hover {
        cursor: pointer;
    }

    p {
        font-size: 16px;
        color: var(--base-clr);
    }
    
    .create-account {
        display: flex;
        gap: 10px;
    }

    .accent {
        color: var(--accent-clr);
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-weight: 400;
        font-size: 26px;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>