---
interface Props {
    stars: number;
    description: string;
}
const {stars, description} = Astro.props;
---

<li>
    <div class="left">
        <div class="person">
            <svg xmlns="http://www.w3.org/2000/svg"  width="24" 
            height="24"  viewBox="0 0 24 24"  fill="currentColor" 
            class="icon icon-tabler icons-tabler-filled icon-tabler-user">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z" />
            <path d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z" /></svg>
        </div>
        <div class="stars">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24" 
            height="24"  viewBox="0 0 24 24"  fill="currentColor" 
            class="icon icon-tabler icons-tabler-filled icon-tabler-star">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44
            1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464
            .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091
            -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38-.926l-2.852
            -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" /></svg>
            <p>{stars}</p>
        </div>
    </div>
    <div class="decription">
        <p>{description}</p>
    </div>
</li>
<style>
    li {
        display: flex;
        align-items: center;
        padding-bottom: 30px;
        border-bottom: 3px solid #EAEAEA;
        margin-bottom: 10px;
        width: 100%;
        gap: 20px;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .person {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #A4A4A4;
        color: white;
        height: 50px;
        width: 50px;
        padding: 5px;
        border-radius: 50%;
    }

    .person svg {
        height: 30px;
        width: 30px;
    }

    .stars {
        display: flex;
        gap: 5px;
    }

    .stars svg {
        height: 20px;
        width: 20px;
    }

    .description {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>