---
import Review from './Review.astro';

interface Props {
    storeId: number;
}

const {storeId} = Astro.props;

const url = 'http://rating:3000/?storeId=' + storeId;
const response = await fetch(url);
const rating = await response.json();
const comments = rating.comments;
---

<div>
    <h1>Reviews</h1>
    <ul>
        {comments.map((comment) => (
            <Review stars={comment.score} description={comment.comment}></Review>
        ))}
    </ul>
</div>
<style>
     ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        border: 1px solid #D9D9D9;
        border-radius: 30px;
        margin: 30px 0;
        padding: 20px;
        padding-bottom: 40px;
        min-width: 28vw;
        height: 55vh;
    }

    h1 {
        font-size: 28px;
    }
</style>