---
import type { Order as IOrder } from "../../lib/models";
import Order from "./Order.astro";
interface Props {
    orders: IOrder[];
}
const { orders } = Astro.props;
---

<div class="orders-container">
    {orders.map((order) => <Order order={order} />)}
</div>

<style>
    .orders-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem;
        height: 65vh;
        width: 600px;
        margin: 0 auto;
        border: 1px solid #D9D9D9;
        border-radius: 20px;
        overflow-y: scroll;
    }
</style>
